{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "globals": {
    "flushConsoleOutput": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "18"
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "semi": ["error", "always"],
    "curly": "error",
    "no-var": "error",
    "quotes": ["error", "single"],
    "no-console": "error",
    "no-debugger": "warn",
    "no-unused-vars": ["error", {"ignoreRestSiblings": true}],
    "eol-last": "error",
    "object-curly-spacing": ["error", "always"],
    "react/prop-types": "off",
    "react/display-name": "off",
    "space-before-function-paren": ["error", "never"],
    "space-before-blocks": ["error", "always"],
    "space-in-parens": ["error", "never"],
    "comma-dangle": ["error", "only-multiline"],
    "func-call-spacing": ["error", "never"],
    "no-multi-spaces": "error",
    "indent": ["error", 2]
  }
}
