{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "globals": {
    "flushConsoleOutput": true
  },
  "settings": {
    "react": {
      "version": "17"
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "semi": ["error", "never"],
    "curly": "error",
    "no-var": "error",
    "quotes": ["error", "single"],
    "no-console": ["error"],
    "no-debugger": ["warn"],
    "no-unused-vars": ["error", {"ignoreRestSiblings": true}],
    "eol-last": ["error"],
    "object-curly-spacing": ["error"],
    "react/prop-types": ["off"],
    "react/display-name": ["off"],
    "space-before-function-paren": ["error", "never"],
    "keyword-spacing": ["error", {"before": false, "after": false, "overrides": {
      "from": {"before": true, "after": true},
      "import": {"after": true},
      "return": {"after": true},
      "export": {"after": true},
      "default": {"after": true},
      "const": {"after": true},
      "case": {"after": true},
      "as": {"before": true, "after": true}
    }}],
    "space-before-blocks": ["error", "never"],
    "comma-dangle": ["error", "never"]
  }
}
